<h2>ユーザー編集</h2>

<div class="panel">
  <%= form_with model: @user, local: true do |f| %>
    <div class="field">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, disabled: true %>
    </div>

    <div class="field">
      <%= f.label :role %><br>
      <%= f.select :role, policy(@user).assignable_roles.map { |r| [User::ROLE_LABELS[r], r] }, {}, class: "form-select" %>
    </div>

    <div class="field">
      <label>
        <%= f.check_box :alert_emails_enabled %>
        ダッシュボードの要確認アラートをメールで受け取る(ケアマネージャー・管理者のみ対象)
      </label>
    </div>

    <div class="actions">
      <%= f.submit "更新する", class: "btn btn-new" %>
    </div>
  <% end %>
</div>
