<h2>ユーザー編集</h2>

<%= form_with model: @user, local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, User.roles.keys.map { |r| [r.humanize, r] } %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>
