<h2><%= @care_recipient.name %> さんのメニュー</h2>

<div class="panel">
  <% if current_user.admin? %>
    <div class="actions">
      <%= link_to "プロフィールを見る", care_recipient_path(@care_recipient), class: "btn btn-show" %>
      <%= link_to "対象者情報を編集", edit_care_recipient_path(@care_recipient), class: "btn btn-secondary" %>
      <%= link_to "訪問記録を登録", new_visit_report_path(care_recipient_id: @care_recipient.id), class: "btn btn-primary" %>
      <%= link_to "訪問記録一覧", visit_reports_path(care_recipient_id: @care_recipient.id), class: "btn btn-secondary" %>
    </div>
  <% elsif current_user.care_manager? %>
    <div class="actions">
      <%= link_to "プロフィールを見る", care_recipient_path(@care_recipient), class: "btn btn-show" %>
      <%= link_to "対象者情報を編集", edit_care_recipient_path(@care_recipient), class: "btn btn-secondary" %>
      <%= link_to "訪問記録一覧", visit_reports_path(care_recipient_id: @care_recipient.id), class: "btn btn-secondary" %>
    </div>
  <% elsif current_user.staff? %>
    <div class="actions">
      <%= link_to "訪問記録を登録", new_visit_report_path(care_recipient_id: @care_recipient.id), class: "btn btn-primary" %>
      <%= link_to "過去の記録を見る", visit_reports_path(care_recipient_id: @care_recipient.id), class: "btn btn-secondary" %>
    </div>
  <% elsif current_user.family? %>
    <div class="actions">
      <%= link_to "対象者の情報を見る", care_recipient_path(@care_recipient), class: "btn btn-show" %>
    </div>
  <% end %>
</div>

<div class="panel">
  <h3>訪問予定・実績カレンダー</h3>
  <div class="actions">
    <%= link_to "カレンダーで見る", calendar_care_recipient_path(@care_recipient), class: "btn btn-primary" %>
  </div>
</div>
