<div id="<%= dom_id care_recipient %>">
  <p>
    <strong>Name:</strong>
    <%= care_recipient.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= care_recipient.birthday %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= care_recipient.address %>
  </p>

  <p>
    <strong>Care level:</strong>
    <%= care_recipient.care_level %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= care_recipient.memo %>
  </p>

</div>
