<p style="color: green"><%= notice %></p>

<%= render @care_recipient %>

<div>
  <%= link_to "Edit this care recipient", edit_care_recipient_path(@care_recipient) %> |
  <%= link_to "Back to care recipients", care_recipients_path %>

  <%= button_to "Destroy this care recipient", @care_recipient, method: :delete %>
</div>
