<%= form_with model: report, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :visited_at, "訪問日時" %>
    <%= f.datetime_select :visited_at, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :user_id, "担当者" %>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: "選択してください", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :visit_type_id, "訪問タイプ" %>
    <%= f.collection_select :visit_type_id, VisitType.all, :id, :name, prompt: "選択してください", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :notes, "内容" %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :status, "ステータス" %>
    <%= f.select :status, VisitReport.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "form-select" %>
  </div>

  <%= f.submit "保存", class: "btn btn-primary" %>
<% end %>